{% extends 'champions/main.html' %}

{% block content %}
{% load static %}
{% load champions_extras %}
<br>
<div class="row w-50 mx-auto">
    <div class="col-md">
        <div class="card card-body">
            <h2>About</h2>
            <hr>
            <h3>Why we started this website</h3>
            <p>Our story began with a simple premise: Winning feels good and we wanted others to win more often. While
                searching for tools and stats for League of Legends, we decided to build our own. This website is for
                those who
                want to learn how to win. We provide definitive League of Legends champion stats and enable you to
                increase your rank in competitive play.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
