{% extends 'champions/main.html' %}

{% block content %}
{% load static %}
{% load champions_extras %}
<br>
<div class="row">
    <div class="col-sm-3">
        <div class="card card-body">
            <h3>Simulation Settings</h3>
            <hr>

            <div class="d-flex flex-column bd-highlight mb-3">
                <form id="champion_select_form" method="get">
                    <div id="c1_group_div" class="form-group">
                        <label for="c1_group_div"><b>Select Champion 1</b></label>
                        <select class="form-control" id="c1_select" oninput="printChampName(value)">
                            {% for champion_obj in champions_dict|get_value_from_dict:'objs' %}
                            <option>{{champion_obj.name}}</option>
                            {% endfor %}
                        </select>

                        <div>
                            <b>Q Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c1_q_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c1_q_hit_input', 'c1_q_hit_output', value)">
                            <output for=value id="c1_q_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>W Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c1_w_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c1_w_hit_input', 'c1_w_hit_output', value)">
                            <output for=value id="c1_w_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>E Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c1_e_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c1_e_hit_input', 'c1_e_hit_output', value)">
                            <output for=value id="c1_e_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>R Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c1_r_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c1_r_hit_input', 'c1_r_hit_output', value)">
                            <output for=value id="c1_r_hit_output">50</output>
                            <span>%</span>
                        </div>
                    </div>
                    <hr>
                    <div id="c2_group_div" class="form-group">
                        <label for="c2_group_div"><b>Select Champion 2</b></label>
                        <select class="form-control" id="c2_select">
                            {% for champion_obj in champions_dict|get_value_from_dict:'objs' %}
                            <option>{{champion_obj.name}}</option>
                            {% endfor %}
                        </select>

                        <div>
                            <b>Q Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c2_q_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c2_q_hit_input', 'c2_q_hit_output', value)">
                            <output for=value id="c2_q_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>W Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c2_w_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c2_w_hit_input', 'c2_w_hit_output', value)">
                            <output for=value id="c2_w_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>E Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c2_e_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c2_e_hit_input', 'c2_e_hit_output', value)">
                            <output for=value id="c2_e_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <div>
                            <b>R Hit Probability</b><br>
                            <!--                        <input class="border-0" type="range" min="0" max="100"/>-->
                            <input type="range" id="c2_r_hit_input" value="50" step="1" min="0" max="100"
                                   oninput="outputUpdate('c2_r_hit_input', 'c2_r_hit_output', value)">
                            <output for=value id="c2_r_hit_output">50</output>
                            <span>%</span>
                        </div>
                        <hr>
                        <button class="btn btn-primary align-self-end" type="submit" value="Start Simulation">
                            Start Simulation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card card-body">
            <h3 id="c1_name">Champion 1</h3>
            <img id="c1_img" src="" alt="" height="120" width="120">
            <h3 id="c1_win_percent">Win %: </h3>
            <hr>
            <h3 id="c2_name">Champion 2</h3>
            <img id="c2_img" src="" alt="" height="120" width="120">
            <h3 id="c2_win_percent">Win %: </h3>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-body">
            <h3>Graph comparison</h3>
            <hr>
            <div id="id_plot_div">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body">
            <h2>Action History</h2>
            <hr>
            <div id="action_history"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
// update slider q
function outputUpdate(input_id, output_id, num) {
    input_id = '#'+input_id
    output_id = '#'+output_id
    input_element = document.querySelector(input_id)
    output_element = document.querySelector(output_id)
    output_element.value = input_element.value;
}

function printChampName(val) {
    console.log('c1_select value: ' + val)
}

// 1. send simulation input
// 2. simulation on backend
// 3. receive response and display graph and action history on page

$("#champion_select_form").submit(function (e) {
    console.log('submit button clicked')
    // input elements
    var c1_select = document.getElementById('c1_select')
    var c1_q_hit_output = document.getElementById('c1_q_hit_output')
    var c1_w_hit_output = document.getElementById('c1_w_hit_output')
    var c1_e_hit_output = document.getElementById('c1_e_hit_output')
    var c1_r_hit_output = document.getElementById('c1_r_hit_output')
    var c2_select = document.getElementById('c2_select')
    var c2_q_hit_output = document.getElementById('c2_q_hit_output')
    var c2_w_hit_output = document.getElementById('c2_w_hit_output')
    var c2_e_hit_output = document.getElementById('c2_e_hit_output')
    var c2_r_hit_output = document.getElementById('c2_r_hit_output')

    // output elements
    var plot_div = document.getElementById('id_plot_div')
    var action_history = document.getElementById('action_history')
    var c1_name = document.getElementById('c1_name')
    var c2_name = document.getElementById('c2_name')
    var c1_img = document.getElementById('c1_img')
    var c1_win_percent = document.getElementById('c1_win_percent')
    var c2_img = document.getElementById('c2_img')
    var c2_win_percent = document.getElementById('c2_win_percent')

    // input values
    var c1_select_val = c1_select.value
    var c1_q_hit_val = c1_q_hit_output.value
    var c1_w_hit_val = c1_w_hit_output.value
    var c1_e_hit_val = c1_e_hit_output.value
    var c1_r_hit_val = c1_r_hit_output.value

    var c2_select_val = c2_select.value
    var c2_q_hit_val = c2_q_hit_output.value
    var c2_w_hit_val = c2_w_hit_output.value
    var c2_e_hit_val = c2_e_hit_output.value
    var c2_r_hit_val = c1_r_hit_output.value


    // debug
    console.log('c1_select_val: '+c1_select_val)
    console.log('c1_q_hit_val:  '+c1_q_hit_val)
    console.log('c1_w_hit_val:  '+c1_w_hit_val)
    console.log('c1_e_hit_val:  '+c1_e_hit_val)
    console.log('c1_r_hit_val:  '+c1_r_hit_val)
    console.log('c2_select_val: '+c2_select_val)
    console.log('c2_q_hit_val:  '+c2_q_hit_val)
    console.log('c2_w_hit_val:  '+c2_w_hit_val)
    console.log('c2_e_hit_val:  '+c2_e_hit_val)
    console.log('c2_r_hit_val:  '+c2_r_hit_val)

    if(c1_select_val == c2_select_val){
        console.log("Champions can't be the same.")
        alert("Champions can't be the same. Please select different champions and try again.")
        return
    }
    else{
        // GET AJAX request
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: "{% url 'get_simulation_results' %}",
            data: {
            'c1_select_val': c1_select_val,
            'c1_q_hit_val': c1_q_hit_val,
            'c1_w_hit_val': c1_w_hit_val,
            'c1_e_hit_val': c1_e_hit_val,
            'c1_r_hit_val': c1_r_hit_val,
            'c2_select_val': c2_select_val,
            'c2_q_hit_val': c2_q_hit_val,
            'c2_w_hit_val': c2_w_hit_val,
            'c2_e_hit_val': c2_e_hit_val,
            'c2_r_hit_val': c2_r_hit_val
            },
            success: function (response) {
            console.log('response received')
            // update graph
            let new_element = document.createRange().createContextualFragment(response['plot_divider']);
            function removeAllChildNodes(parent) {
                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }
            }
            removeAllChildNodes(plot_div)
            plot_div.appendChild(new_element)

            // update action history
            action_history.innerHTML = ''
            action_history.innerHTML = response['simulation_results']['action_history'].join('')
            console.log('action_history: '+action_history)

            //update champion name, portrait, and win %
            c1_name.innerHTML = c1_select_val
            c2_name.innerHTML = c2_select_val

            c1_img.setAttribute('src', 'data:image/png;base64,'+response['c1_img'])
            c2_img.setAttribute('src', 'data:image/png;base64,'+response['c2_img'])

            c1_win_percent.innerHTML = 'Win Rate: ' + (Math.round(response['simulation_results']['champion_a_probability']*100)).toString() + '%'
            c2_win_percent.innerHTML = 'Win Rate: ' + (Math.round(response['simulation_results']['champion_b_probability']*100)).toString() + '%'
            },
            error: function (response) {
                console.log(response)
            }
        })
    }
})
</script>
{% endblock javascript %}
